@import url("header.css");
@import url("banner.css");
@import url("formulario.css");
@import url("rodape.css");
@import url("cadastro.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --verde: #6D9773;
    --verde-escuro: #0C3B2E;
    --marrom: #BB8A52;
    --amarelo: #FFBA00;
    --fonte-principal: "Poppins";
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --vermelho: #E63946;
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}